@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.new-shadow {
  box-shadow: rgba(145, 158, 171, 0.2) 0 0 2px 0,
    rgba(145, 158, 171, 0.12) 0 12px 24px -4px;
}

.css-1gnt8p1-MuiModal-root-MuiDialog-root
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  border-radius: 15px !important;
}
